/.build
*.sublime-workspace
*.pri

# LaTeX auxiliary / build files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.loa
*.lof
*.log
*.lot
*.out
*.xml
*.toc
*.pdf

# glossary / acronyms
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

# listings / synctex
*.lol
*.synctex.gz

# index
*.idx
*.ilg
*.ind

# nomenclature
*.nlo
*.nls

# other common LaTeX artifacts
*.nav
*.snm
*.vrb
*.dvi
*.xdy
*-blx.bib

/scripts